/*
Colors:

Text: 1A1A1A
Green: #00B172
White: #FFF

*/



*{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
body{
    border: 0;
    padding: 0;
    margin: 0;
    }
nav {
    position: fixed;
    background: rgba(252, 252, 252, 1);
    width:100%;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.links-nav {
    padding-top: 15px;
    padding-right: 30px;
    display:flex;
    list-style-type:none;
    float:right;
}
.logo{
    float:left;
    padding-left: 30px;
    padding-top: 15px;
    padding-bottom: 15px;
    
}
.imm{
    position:static;
    max-width: 100%;
}
li{
    padding-left: 25px;
}
a{
    text-decoration: none;
    color: rgb(0, 0, 0);
}
h1{
    color: white;
    position: absolute;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 80px;
    white-space: nowrap;
}
.text{
    color: white;
    position: absolute;
    text-align: center;
    white-space: nowrap;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 28px;
    padding-top: 300px;
}
h2{
    font-size: 40px;
    text-align: center;
    text-decoration: underline #00B172;
    text-underline-position: under;
    text-underline-offset: 6px;
}
.img1{
    width: 150px;
}
.img2{
    width: 150px;
    padding-bottom: 20px;
}
h3{
    color: #00B172;
    font-size: 35px;
}
.text2{
    font-size: 26px;
    text-align: center;
}
.boxes {
    position:relative;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    padding-left: 80px;
  }
  .box {
    width: 340px;
    height: 450px;
    text-align: center;
    position: relative;
    padding-inline: 50px;
  }
  .box1{
    float:left;
  }
  .box2{
    float:inline-start;
  }
  .box3{
    float: right;
  }
  .myDiv{
    background-color: #00B172;
    margin: 35px;
    padding: 20px;
    padding-left: 100px;
    height: 830px;
  }
  .text3{
    color: white;
    font-size: 25px;
    width: 410px;
  }
  h4{
    color: white;
    font-size: 35px;
    text-decoration: underline #ffffff;
    text-underline-position: under;
    text-underline-offset: 7px;
  }
  h5{
    color: white;
    font-size: 30px;
    margin-bottom: -3px;
  }
  .img3{
    float: right;
    width: 370px;
    padding-bottom: 20px;
    margin: 80px;
}
.img4{
    float: right;
    width: 150px;
    padding-top: 350px;
    padding-right: 50px;
}